<div class="label">
  <span id="remove-label-btn-<%= "#{label.id}" %>">
    <%= link_to "<span>X</span>".html_safe,
      project_remove_label_path(project, label),
      remote: true ,
      method: :delete, 
      title: 'Remove label',
      class: 'remove'
    %>
  </span>
  <%= label.name %>
</div>
