<div>
  <% flash.each do |name, message| %>
    <% render_item_or_items(message) do |m| %>
      <div class="alert <%= name == 'alert' ? "alert-danger": "alert-primary" %>">
        <%= m %> 
      </div>
    <% end %>
  <% end %>
</div>
