<div>
  <% flash.each do |name, message| %>
    <% if name == 'alert' %>
      <div class="alert alert-danger">
       <%= message %> 
      </div>
    <% else %>
      <div class="alert alert-primary">
       <%= message %> 
      </div>
    <% end %>
  <% end %>
</div>
