<h1>Project show page</h1>

<h2><%= @project.title %></h2>
<p><%= @project.content %></p>

<%= link_to t('links.project.edit'), edit_project_path(@project),  class: 'btn btn-info'  %>
<%= link_to t('links.project.delete'), project_path(@project), method: :delete, class: 'btn btn-danger' %>
